@model IEnumerable<LecturesClaimingSystem.Models.Claim>
<h2>Lecturer Claims System</h2>
<div>
    <a class="btn btn-primary" href="/Claims/SubmitClaim">Submit Claims</a>
    <a class="btn btn-secondary" href="/Claims/ViewClaims">View Approved Claims</a>
    <a class="btn btn-secondary" href="/Claims/ViewRejectedClaims">View Rejected Claims</a>
    <a class="btn btn-info" href="/ProgrammeCoordinator/Login">Programme Coordinator</a>
</div>


<!-- Optional: Link Font Awesome for icons if needed -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
